@import '../../../../../../styles/base/vars';

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 20rem;

    .itemPictureContainer {
        display: flex;
        width: 20rem;
        height: 300px;
        overflow: hidden;
        border: 1px solid black;
        justify-content: center;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .itemInfoContainer {
        border: 1px solid black;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 8rem;

        .itemInfo {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            padding: .25rem;

            .itemNameContainer {
                display: flex;
                flex-direction: column;
            }

            .itemPriceContainer {
                display: flex;
                flex-direction: column;

            }
        }

        .itemButton {
            display: flex;
            padding: .25rem;
            gap: .5rem;
            width: 100%;
            height: 3rem;

            .cartButton {
                width: 50%;
                border: 1px solid $mainGreen;
                background-color: $mainGreen;
                color: $mainWhite;
                font-size: 1rem;
                font-weight: 600;
                cursor: pointer;
            }

            .moreButton {
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid $mainGreen;
                color: $mainGreen;
                font-size: 1rem;
                font-weight: 600;
                text-decoration: none;

            }
        }
    }
    
}