@import '../../../styles/base/vars';

.storeLogo-container {
    display: flex;
    background-color: transparent;
    align-items: center;
    gap: 0.5rem;

    .logo-svg {
        background-color: transparent;
        color: $mainWhite;
        height: 2.5rem;
        width: 2.5rem;
    }

    .titleName {
        background-color: transparent;
        color: $mainWhite;
        font-size: 1.5rem;
    }
}